@import './custom';
@import '~bootstrap';

@import './components/types';
@import './components/navbar';
@import './components/hero';
@import './components/benefits';
@import './components/features';
@import './components/testimonials';
@import './components/form';
@import './components/footer';
@import './components/thanks';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

section {
  padding: 100px 0;
  h2 {
    margin-bottom: 80px;
    font-weight: 400;
    span {
      background-color: $primary;
      padding: 4px 16px;
    }
  }
}

.cta {
  background-color: $cta;
  color: whitesmoke;
  padding: 60px 0;

  .cta-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  section {
    padding: 60px 0;
    h2 {
      margin-bottom: 30px;
    }
  }
}
