.navbar {
  border-bottom: 4px solid $gray-600;
  .navbar-brand {
    img {
      height: 70px;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    .navbar-brand {
      img {
        height: 50px;
      }
    }
  }
}
