.navbar {
  border-bottom: 4px solid $gray-600;
  background-color: $gray-100;
  .navbar-brand {
    padding: 20px 0;
    img {
      height: 60px;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    .navbar-brand {
      padding: 8px 0;
      img {
        height: 46px;
      }
    }
  }
}
